
<%= form_tag('/courses/search', method: 'post') do %>
    <!-- aqui vamos a colocar el texto para buscar
  form_tag es un helper ( es decir un generador de elementos visuales)
  en este caso va a generar un formulario que envia los campos al metodo search del controlador de courses
  -->
  <%= text_field_tag :query %>
  <%= submit_tag "Search" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Level</th>

      <th colspan="3"></th>
    </tr>
  </thead>


<ul>
<!-- este seria la pagina de listado ( no esta muy bonita pero funciona XD) a mi me parece bonita porque si funciona jaja -->
<tbody>
<% @courses.each do |course| %>
<tr><%=  %>
  <td> <%= course.title %> </td>
  <td> <%= course.description %> </td>
  <td> <%= course.Level %> </td>
</tr>
<% end %>

</ul>

</tbody>
</table>
