
<%= form_tag('/courses/search', method: 'post', class: 'inline-form') do %>
    <!-- aqui vamos a colocar el texto para buscar
  form_tag es un helper ( es decir un generador de elementos visuales)
  en este caso va a generar un formulario que envia los campos al metodo search del controlador de courses
  -->
  <%= text_field_tag :query, "", class: "form-control" %>
  <%= submit_tag "Search", class: "btn btn-info" %>
<% end %>

<br/>
<!-- Tabla bonita :Dpero te pegunto, como se sabe que table es de bootstrap? es pero donde se descargo? yo copie el cdn y ya -->
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Level</th>
    </tr>
  </thead>
  <!-- este seria la pagina de listado ( no esta muy bonita pero funciona XD) a mi me parece bonita porque si funciona jaja -->
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><b><%= course.title %></b></td>
        <td><%= course.description %></td>
        <td><%= course.Level%></td>
        <td><%= image_tag(course.picture, width: "40px") %>

      </tr>

    <% end %>
  </tbody>
</table>

<!-- Puedes usar ese componente para mostrar los cursos, para eso te falta poder subir imagenes -->
<!-- y para subir imagenes necesitas un formulario de editar y uno de agregar curso :) -->

hay una gema feliz para esose llama joel?hahaa no
